.add-friend-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  padding: 30px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  z-index: 1000;
  color: white;
  min-width: 300px;
}

.add-friend-title {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 25px;
  text-align: center;
}

.add-friend-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.friend-search-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.friend-search-input {
  padding: 12px;
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 1rem;
}

.friend-search-input:focus {
  outline: none;
  border-color: rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.15);
}

.friend-search-input::placeholder {
    color: rgb(189, 182, 182);
}

.friend-search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px;
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.friend-search-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateY(-2px);
}

.search-results {
  max-height: 200px;
  overflow-y: auto;
}

.friend-result {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 8px;
  transition: all 0.3s ease;
}

.friend-result:hover {
  background: rgba(255, 255, 255, 0.15);
  transform: translateX(5px);
}