/* Basic styles for the instant messaging app */
.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-image: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(42, 25, 104) 50%, rgba(132, 45, 204, 0.5) 100%);
  color: white;
  padding: 10px;
}

.profile-container {
  display: flex;
  align-items: center;
}

.profile-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  color: white;
  border-width: 0;
  opacity: 1;
  background-color: transparent;
}

.pfp {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.title-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.title {
  margin-right: 10px;
}

.settings-icon {
  font-size: 24px;
  cursor: pointer;
  margin-right: 10px;
}